<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Running...</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<script type="text/javascript" th:inline="javascript">
$(window).on("load", function() {

      var readyMessage = JSON.stringify({
          'message_id': 'ready',
          'data': {}
      })

      window.parent.postMessage(readyMessage, '*');

      var msgHandler = function(e) {
          var message = JSON.parse(e.data);
          if (message['message_id'] == 'session_id') {

       	   	var data = {"Session.id" : message['data']['session_id']};
       		window.removeEventListener('message', msgHandler, false);

       		var param = /*[[${param}]]*/;
	       	Object.keys(param).forEach(function(key) {
	    	    data[key] = param[key][0];
	       	});

       		$.ajax({
       			url: "/admin/resetConfiguration",
       			data: data,
       			type: "POST",
       			success: function(response) {
       				var newDoc = document.open("text/html", "replace");
       				newDoc.write(response);
       				newDoc.close();
       		    },
				error: function(jqXHR, exception){
			   		var message = exception;

			   		if (jqXHR.status === 0) {
			  	 		message = 'Server connection issue.\n Please try again.';
				    } else if (jqXHR.status == 404) {
				        message = 'Requested page not found. [404]';
				    } else if (jqXHR.status == 500) {
				        message = 'Internal Server Error [500]. Please try again.';
				    } else if (exception === 'parsererror') {
				        message = 'Requested JSON parse failed.';
				    } else if (exception === 'timeout') {
				        message = 'Time out error.';
				    } else if (exception === 'abort') {
				        message = 'Ajax request aborted.';
				    } else {
				        message = 'Uncaught Error.\n' + jqXHR.responseText;
				    }

			 	 	console.log(message);
				},
				timeout : 15000//timeout of the ajax call
			});
		 }
      }
      window.addEventListener('message', msgHandler, false);
});

</script>
</body>
</html>
